<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Museo Vonwiller Farnese')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
   
    <div id="divForm">
    	<h4 style="font-size:45px;" th:text="#{header.menuAdmin}">Menu</h4>
		
		<div>
			<a th:href="@{/admin/artisti}">Elenco degli artisti</a>
   		</div>
   		
   		<div style="border-bottom-style: solid; margin-bottom:15px;">
			<a th:href="@{/admin/artista}">Inserisci un artista</a>
   		</div>
   
   		<div>
			<a th:href="@{/admin/opere}">Elenco delle opere</a>
   		</div>
   		
   		<div style="border-bottom-style: solid; margin-bottom:15px;">
			<a th:href="@{/admin/opera}">Inserisci un'opera</a>
   		</div>
   	
   	   	<div >
			<a th:href="@{/admin/curatore}">Aggiungi un curatore</a>
   		</div>
   		
   		<div style="border-bottom-style: solid; margin-bottom:15px;">
			<a th:href="@{/curatore}">Elenco dei curatori</a>
   		</div>
   		
   		<div>
			<a th:href="@{/admin/collezioni}">Elenco delle collezioni</a>
   		</div>
   		
   		<div>
			<a th:href="@{/admin/collezione}">Inserisci una collezione</a>
   		</div>
</div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>