<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Rocca Borgia')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 th:text="#{header.menuAdmin}">Menu</h4>
		<div>
			<a th:href="@{/campo}">Elenco campi</a>
   		</div>
   		<div>
			<a th:href="@{/admin/campo}">Inserisci un campo</a>
   		</div>
   		
   		<div>
			<a th:href="@{/admin/sport}">Inserisci uno sport</a>
   		</div>
   		<div>
			<a th:href="@{/sport}">Elenco sport</a>
   		</div>
   		<div>
			<a th:href="@{/corso}">Elenco corsi</a>
   		</div>
   		<div>
			<a th:href="@{/admin/corso}">inserisci corso</a>
   		</div>
   		<div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>