 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.artistaForm})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<form id="loginForm" th:action="@{/admin/artista}" method="POST" th:object="${artista}">
				
		
		<div id="divForm2">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<h4>Inserisci i dati di un artista</h4>
		
			<div>
				<span>Nome: </span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				<span>Cognome: </span>
				<span><input type="text" th:field="*{cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>		
			
			<div>
				<span>Data di nascita: </span>
				<span><input type="date" th:field="*{dataDiNascita}" /></span>
				<span th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></span>
			</div>
			
			<div>
				<span>Data di morte: </span>
				<span><input type="date" th:field="*{dataDiMorte}" /></span>
				<span th:if="${#fields.hasErrors('dataDiMorte')}" th:errors="*{dataDiMorte}"></span>
			</div>
			
			<div>
				<span>Luogo di nascita: </span>
				<span><input type="text" th:field="*{luogoDiNascita}" /></span>
				<span th:if="${#fields.hasErrors('luogoDiNascita')}" th:errors="*{luogoDiNascita}"></span>
			</div>
			
			
			<div>
				<span>Luogo di morte: </span>
				<span><input type="text" th:field="*{luogoDiMorte}" /></span>
				<span th:if="${#fields.hasErrors('luogoDiMorte')}" th:errors="*{luogoDiMorte}"></span>
			</div>
			
			<div>
				<span>Nazione: </span>
				<span><input type="text" th:field="*{nazionalita}" /></span>
				<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
			</div>
			
			<div>
				<span>Biografia: </span>
				<span><input type="text" th:field="*{biografia}" /></span>
				<span th:if="${#fields.hasErrors('biografia')}" th:errors="*{biografia}"></span>
			</div>
			
			<div>
			
				<span><button type="submit">Conferma</button></span>
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>