<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.artisti})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div id="divElenco">
    	<h4 th:text="#{header.artisti}"></h4>
		<ul>
			<li th:each="artista : ${artisti}">
				<a href="artista.html" 
				   th:href="@{'/artista' + '/' + ${artista.id}}" 
				   th:text="|${artista.nome} &nbsp; ${artista.cognome}|"></a>
			
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>