<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{title.formCampo})">
</head>
<body class="text-center">
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="m-5">
		<h4 th:text="#{header.campoForm}" style="font-size: 40px;"></h4>
	</div>
	<div class="form">
		<form th:action="@{/admin/campo}" method="POST" th:object="${campo}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<div>
				<div class="p-3">
					<span>Matricola</span> <span><input type="text"
						class="form-control" th:field="*{matricola}" required /></span> <span
						th:if="${#fields.hasErrors('matricola')}" th:errors="*{matricola}"></span>
				</div>
				<div class="p-3">
					<span>Descrizione</span> <span><input type="text"
						class="form-control" th:field="*{descrizione}" required /></span> <span
						th:if="${#fields.hasErrors('descrizione')}"
						th:errors="*{descrizione}"></span>
				</div>

			</div>
			<div class="p-3">
				<span>PrezzoOrario</span> <span><input type="text"
					class="form-control text-center" th:field="*{prezzoOrario}" required /></span> <span
					th:if="${#fields.hasErrors('prezzoOrario')}"
					th:errors="*{prezzoOrario}"></span>
			</div>

			<span>Sport</span>
			<div>
				<select name="sportSelezionato"
					class="custom-select-xl rounded mb-3" required>
					<option selected></option>
					<option th:each="sport : ${sports}" th:value="${sport.id}"
						th:text="${sport.nome}">
				</select>
			</div>
			<span>Custode</span>
			<div class="">
				<select name="custodeSelezionato"
					class="custom-select-xl rounded mb-3" required>
					<option selected></option>
					<option th:each="custode : ${custodi}" th:value="${custode.id}"
						th:text="|${custode.nome} ${custode.cognome}">
				</select>
			</div>

			<span>Immagine</span>
			<div>
				<input class="btn btn-light form-control-sm rounded" type="file"
					th:field="*{image}" accept="image/gif, image/jpeg, image/png">
			</div>

			<div class="m-5">
				<span><button type="submit" class="btn btn-primary">Conferma</button></span>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>