<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{title.campo})">
</head>
<body class="text-center">
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4 class="m-5" style="font-size:40px;" th:text="#{header.campo}"></h4>
		<div th:if="${campo}" th:object="${campo}">
			<div>
				<img class="p-2 img-thumbnail" style="border: 10px solid #eaeaea;" th:src="@{'/images/'+*{image}}">
			</div>
			<ul class="list-group m-5">
				<li class="list-group-item"><span style="font-weight:bold;">Matricola:</span> <span
					th:text="*{matricola}"></span>
				</li>
				<li class="list-group-item"><span style="font-weight:bold;">Prezzo orario:</span> <span
					th:text="|*{prezzoOrario}0&euro;|"></span>
				</li>
				<li class="list-group-item"><span style="font-weight:bold;">Sport: </span><span
					th:text="*{sport.nome}"></span>
				</li>
				<li class="list-group-item"><span style="font-weight:bold;">Custode: </span>
				<a th:href="@{'/custode/'+*{custode.id}}" th:text="|*{custode.nome}&nbsp;*{custode.cognome}|">
				</a>
				</li>
				<li class="list-group-item"><span style="font-weight:bold;">Descrizione: </span><div
					th:text="*{descrizione}"></div>
				</li>
			</ul>
		</div>
		<div th:unless="${campo}">Questo campo sportivo non esiste</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>