<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{title.custodeForm})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4 class="text-center m-4" style="font-size: 40px;"
			th:text="#{header.custodeForm}"></h4>
		<form th:action="@{/admin/custode}" method="POST"
			th:object="${custode}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>

			<div style="display: flex; flex-direction: row;" class="form-row">
				<div class="form-group col-md-5 p-2">
					<label for="inputNome">Nome</label> <input type="text"
						th:field="${custode.nome}" class="form-control" id="inputNome"
						placeholder="Nome" required> <span
						th:if="${#fields.hasErrors('nome')}"
						th:errors="*{nome}" th:style="'color:red'"></span>
				</div>
				<div class="form-group col-md-5 p-2">
					<label for="inputCognome">Cognome</label> <input type="text"
						th:field="${custode.cognome}" class="form-control"
						id="inputCognome" placeholder="Cognome" required> <span
						th:if="${#fields.hasErrors('cognome')}"
						th:errors="${custode.cognome}" th:style="'color:red'"></span>
				</div>
			</div>
			<div class="form-group p-2 ">
				<label for="inputEmail4">Email</label> <input type="email"
					th:field="${custode.email}" class="form-control" id="inputEmail4"
					placeholder="example@dom.com" required> <span
					th:if="${#fields.hasErrors('email')}"
					th:errors="${custode.email}" th:style="'color:red'"></span>

			</div>
			<div class="form-group p-2">
				<label for="inputAddress2">Numero di telefono
					d'identit&#224;</label> <input type="text"
					th:field="${custode.numeroDiTelefono}" class="form-control"
					id="inputAddress2" placeholder="333 3456789" required>
				<span th:if="${#fields.hasErrors('numeroDiTelefono')}"
					th:errors="${custode.numeroDiTelefono}" th:style="'color:red'"></span>
			</div>
			<div style="display: flex; flex-direction: row;" class="form-row">
				<div class="form-group col-md-6 p-2">
					<label for="inputCity">Luogo di nascita</label> <input type="text"
						th:field="${custode.luogoDiNascita}" class="form-control"
						id="inputLuogoDiNascita" placeholder="RomaTre"> <span
						th:if="${#fields.hasErrors('luogoDiNascita')}"
						th:errors="${custode.luogoDiNascita}" th:style="'color:red'"></span>
				</div>
				<div class="form-row">
					<div class="form-group p-2">
						<label for="inputCity">Data di nascita</label> <input type="date"
							th:field="${custode.dataDiNascita}" class="form-control"
							id="inputDataDiNascita"> <span
							th:if="${#fields.hasErrors('dataDiNascita')}"
							th:errors="${custode.dataDiNascita}" th:style="'color:red'"></span>
					</div>
				</div>
			</div>
			<div class="text-center m-3">
				<button type="submit" class=" btn btn-primary">Registra</button>
			</div>
		</form>
	</div>

	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>

