<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Login')">
<meta charset="UTF-8" />
<link
	href="/museo-arti-del-nord/src/main/resources/static/css/loginForm.css"
	rel="stylesheet">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<form id="loginForm" th:action="@{/login}" method="POST">
		
		<div id="divForm">
		<h4>Login</h4>
			<div>
				<span>Username: </span> <span><input name="username"
					type="text" required /></span>
			</div>
			<div>
				<span>Password:&nbsp;</span> <span> <input name="password"
					type="password" required />
				</span>
			</div>
			
			
			
			<div style="margin-top:10px;">
				<span><button type="submit">Login</button></span>
				
			</div>
			
			<span style="margin-top:10px;"><a style="font-size:25px; color:beige;" th:href="@{/register}" th:text="#{index.register}"></a>
				</span>
			
		</div>
	</form>
	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>