<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{title.opere})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div id="divElenco">
		<h4 th:text="#{header.opere}">Lista delle opere</h4>
		<ul>
			<li th:each="opera : ${opere}"><a href="opera.html"
				th:href="@{'/opera' + '/' + ${opera.id}}" th:text="|${opera.titolo} - ${opera.artista.cognome}">Notte
					stellata</a> 
					
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>