<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{title.prenotazione})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
		<h4 class="m-5" style="text-align:center; font-size:40px;" th:text="#{header.prenotazione}"></h4>
		<div th:if="${prenotazione}" th:object="${prenotazione}">

			<table class="table">
				<thead>
					<tr>
						<th scope="col">Utente</th>
						<th scope="col">ID prenotazione</th>
						<th scope="col">Codice documento</th>
						<th scope="col">Giorno</th>
						<th scope="col">Ora</th>
						<th scope="col">Campo</th>
						<th scope="col">Custode</th>
						<th scope="col">Importo da pagare</th>


					</tr>
				</thead>
				<tbody>
					<tr>
		
						<td th:text="|*{user.nome}&nbsp;*{user.cognome}|"></td>
						<td th:text="*{id}"></td>
						<td th:text="*{user.numCI}"></td>
						<td th:text="*{giorno}"></td>
						<td th:text="*{ora}"></td>
						<td th:text="|*{campo.matricola}&nbsp;*{campo.sport.nome}|"></td>
						<td th:text="|*{campo.custode.nome}&nbsp;*{campo.custode.cognome}|"></td>
						<td th:text="|*{campo.prezzoOrario}0&nbsp;&euro;|"></td>
					</tr>
				</tbody>
			</table>

		</div>
		<div th:unless="${prenotazione}">Questa prenotazione non esiste
			piu'</div>

		<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>